.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
@media screen and (min-width: 599px) {

    
}

.card-body {
    list-style: none;
    line-height: 35px;
}